<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Todos</h1>
    <ul>
        <%category.forEach(item => {%>
            <%if(item.display){%>
                <li class="categoryName"><h2><%=item.category%></h2></li>
            <%}%>
            <% todos.forEach( el => { %>
                <%if(el.categoryId == item._id){%>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span><%= el.quantity%></span>
                        <span class='edit'> <a href="todos/edit/<%=el._id%>">Edit</a> </span>
                        <span class='del'> Delete </span>
                    </li>
                <%}%>
            <%})%>  
        <%})%>

    </ul>

    <h2><%= user.userName %> has <%= left %> item to pick up.</h2>
    <form action="/todos/createTodo" method='POST' id="subForm">
        <button type="button"><a href="todos/category">Add/Delete Category</a></button>
        <select name="category" id="categoryForm" required>
            <option value="">Select Category</option>
            <%category.forEach(el=>{%>
                <option value="<%=el.category%>"><%=el.category%></option>
            <%})%>
        </select>
        <input type="text" placeholder="Enter Todo Item" name='todoItem' required>
        <input type="number" placeholder="qty" name='quantity' min="0">
        <button type="submit">Add</button>
        <button type="reset" id="resetBtn" >Reset</button>
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>
