<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Todos</h1>

    <% for(let i = 0; i < currentCategories.length; i++) { %>
        <h3 class="<%=currentCategories[i]%>"><%=currentCategories[i]%></h3>
        <ul>
            <% for(let j = 0; j < todos.length; j++){ %>
    
                <% if (currentCategories[i] == todos[j].category){ %>
                   <% console.log(currentCategories[i], todos[j].category) %>
                    <li class='todoItem' data-id='<%=todos[j]._id%>'>
                        <span class='<%= todos[j].completed === true ? 'completed' : 'not'%>'><%= todos[j].todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                <% } else if(!currentCategories.includes(todos[j].category)) {%>
                    
                    <li class='todoItem' data-id='<%=todos[j]._id%>'>
                        <span class='<%= todos[j].completed === true ? 'completed' : 'not'%>'><%= todos[j].todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                    <% } %>
                    <% } %>
        </ul>    

    <% } %>


     
    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>


            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="other">Other</option>
                <% allCategories.forEach(cate => { %>
<option value="<%=cate.category%>"><%=cate.category%></option>
    
                <% }) %>
            </select>


        <button type="submit">Submit</button>
    </form>
    <form action="/todos/createCategory" method='POST'>
        <input type="text" placeholder="Enter a Category" name='categoryName'>
        <button type="submit">Submit</button>
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>